body,html{
    margin:0;
    padding: 0;
}

.offpage{
    position: absolute;
    left:-1000px
}

.offpage:focus{
    left: 10px;
    z-index: 1000;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:black
}

nav ul li{
    border: 5px solid black;
    padding: 5px;
    border-style: inset;
}

#current{
    background-color: black;
}

#current a{
    color:white;
}

nav{
    height: 60px;
    padding: 5px;
    position: fixed;
    width: 100%;
    top:0;
    background-color: grey;
}

nav li:hover{
    transform: scale(1.1,1.1);
}

img{
    border: 5px solid black;
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
}

.grid img:nth-child(2n){
    border-style:ridge;
    border-radius: 20px;
}

.grid img:nth-child(2n+1){
    border-style: groove;
}

.grid img:hover{
    transition: width .2s linear .1s;
    width: 110%;
}

h1{
    margin-top: 100px;
    text-align: center;
}

h1,h2,p,li{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px 10px;;
}

#images li{
    font-size: 20px;
    list-style-type:circle;
}

figure{
    text-align: center;
}

figure img{
    width: 20%;
}

#caption{
    padding: 0 0 0 10;
    margin-left: 10px;
    font-style: italic;
    font-size: 15px;
}